* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    overflow-y: hidden;
}

.useless-div {
    display: flex;
    justify-content: center;
}

.main-part {
    width: 50%;
}

.editor {
    background-color: #181818;
    color: #fff;
    width: 50vw;
    height: 100vh;
}

.previewer {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #fcffd1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    color: #fff;
    padding: 1rem;
    border-bottom: 4px solid #979a86;
}

.lenguaje {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
}

.button-icons {
    color: #fff;
}

.button-icons:hover {
    color: #b5b5b5;
}

.button-icons:active {
    color: #3d3d3d;
}

textarea {
    height: 90%;
    width: 90%;
    background-color: transparent;
    color: #fff;
    margin-left: 1rem;
    font-size: 1rem;
    resize: none;
    font-family: Consolas, 'Courier New', monospace;
}

textarea:focus {
    outline: none;
}